@import "tailwindcss";
@theme{
    --color-primary:#1A1A2E;
    --color-secondary:#717182;
    --color-bg:#F5F5F7; 
    --color-fg:#FFFFFF;
    --color-info:#615FFF;
    --color-success:#009966;
    --color-success-card:#BFDBFE;
    --color-danger:#FB2C36;
    --color-warning:#E17100;
    --color-muted:#D1D5DC;
    --text-Inter:"Inter", sans-serif;
}

@layer base{
    body{
        background-color: var(--color-bg);
        font-family: var(--text-Inter);
        color:var(--color-primary);
    }
    .container{
        @apply mx-auto px-4 md:px-0;
    }
    img{
        @apply w-full block;
    }
    button{
        @apply cursor-pointer capitalize inline-block;
    }
    h1{
        @apply capitalize font-semibold;
        @apply text-[20px] sm:text-[23px] md:text-[25px] lg:text-[27px] xl:text-[30px];    
    }
    h2{
        @apply capitalize text-left font-semibold;
        @apply text-[14px] sm:text-[15px] md:text-[16px] lg:text-[17px] xl:text-[18px];
    }
    section{
        @apply py-10 md:py-18;
    }
    span{
        @apply text-secondary text-[15px] capitalize;
    }
    p{
        @apply text-secondary capitalize;
        @apply text-[13px] sm:text-[14px] md:text-[15px] lg:text-[16px]; 
    }
}

@layer utilities{
    .row-start{
        @apply flex justify-start items-center;
    }
    .row-between{
        @apply flex justify-between items-center;
    }
    .row-end{
        @apply flex justify-end items-center;
    }
    .column{
        @apply flex flex-col items-start;
    }
    .column-center{
        @apply flex flex-col items-center;
    }
    .center{
        @apply flex items-center justify-center;
    }
    .placeholder-full-des{
        @apply bg-bg text-[16px] text-secondary rounded-2xl p-1 sm:p-2 outline-0 focus:border-info/80 w-full;
    }
}

@layer components{
    .button-primary{
        background: var(--color-info);
        @apply text-fg rounded-full py-2 gap-0.5 w-[60%] sm:w-[25%] lg:w-[15%] px-1 transition hover:opacity-90;
        @apply text-[13px] sm:text-[15px] md:text-[16px];
    }
    .button-secondary{
        @apply rounded-full px-4 py-2 gap-1 transition hover:opacity-90;
        @apply text-[14px] sm:text-[15px] md:text-[16px];
    }
    .panel{
        @apply gap-2 p-5 rounded-2xl border border-gray-300 w-full;
    }
}

